<title>Triple Card Layout</title>
<style>
  .container {
    width: 1140px;
    height: 457px;
    display: flex; /* Flexbox layout to align cards horizontally */
    margin: 20px auto; /* Centering the container */
    border: 1px solid #ccc; /* Optional: Adds a border around the container */
  }
  .card {
    width: 373px;
    height: 457px;
    box-sizing: border-box; /* Includes padding and border in the element's width and height */
  }
  .card img {
    width: 100%; /* Full width of the card */
    height: 280px; /* Fixed height */
    display: block; /* Removes bottom space/margin */
  }
  .content {
    padding: 30px 15px 15px 15px; /* Padding as specified */
    text-align: center; /* Centers all text inside the content div */
    box-sizing: border-box; /* Includes padding in the height calculation */
  }
  .tag {
    font-size: 9px;
    text-transform: uppercase;
    margin-bottom: 10px; /* Space between the tag and the title */
  }
  .title {
    font-size: 21px;
    line-height: 1.5;
    margin-bottom: 10px; /* Space between the title and the author name */
  }
  .author {
    font-size: 12px;
    font-weight: bold;
  }
</style>

<div class="container">
  <div class="card">
    <img src="https://via.placeholder.com/373x280" alt="Image Description">
    <div class="content">
      <div class="tag">Tag Name</div>
      <div class="title">Post Title Goes Here</div>
      <div class="author">Author Name</div>
    </div>
  </div>
  <div class="card">
    <img src="https://via.placeholder.com/373x280" alt="Image Description">
    <div class="content">
      <div class="tag">Tag Name</div>
      <div class="title">Another Title Here</div>
      <div class="author">Author Name</div>
    </div>
  </div>
  <div class="card">
    <img src="https://via.placeholder.com/373x280" alt="Image Description">
    <div class="content">
      <div class="tag">Tag Name</div>
      <div class="title">Yet Another Title</div>
      <div class="author">Author Name</div>
    </div>
  </div>
</div>